.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 10px 0; 
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0px 10px;
    border-radius: 4px;
    background-color: transparent;
    background-color: #34495e;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #3498db;
    color: white;
}
.profile
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    color: #ecf0f1;
    margin: 0;  
}
.profile:hover {
    background-color: #3498db;
    color: white;
}
.profile a
{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px;
    text-decoration: none;
}
.profile a:visited
{
    color: white;
}
.menu
{
    position: relative;
    text-align: center;
}
